@import "../styles/header.css";
@import "../styles/footer.css";
@import "../styles/sidebar.css";

.container {
    display: grid;
    width: 100%;
    grid-template-columns: 320px; 
    grid-template-rows: 100px 160px 90px 1fr 1fr 1fr;
    grid-template-areas: 
    "hd"
    "sb"
    "tt"
    "cnt" 
    "pht"
    "ft";
    background-image: url('../images/bcg.jpeg');
    font-family: 'Fraunces', serif;

}
.box {
    display: flex;
}

#title {
    grid-area: tt;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

#content {
    grid-area: cnt;
    padding-left: 10px;
    flex-direction: column;
    /* margin-right: 10%; */
    max-width: 30rem;
    
}
#photo {
    grid-area: pht;
}
.icon {
    height: 20px;
    width: 20px;
}

.box figure img {
    width: 100px;
    float: bottom;
    margin: 10px;
    border-radius: 50%;
    /*border: 1px solid red;*/
}
.box figure figcaption {
    text-align: center;
    font-style: italic;

}
#nestGrid {
    display: grid;
    grid-template-columns: 100%;
    align-content: center;
    margin: 50px;
    /* border: 2px solid #FFAE0C; */
}
.photobox {
    height: 200px;
    width: 350px;
}
#one {
    background-image: url('../images/mountains.jpg');
    background-size: cover;
}
#two {
    background-image: url('../images/pheasant.jpg');
    background-size: cover;
}

@media (min-width: 600px) and (max-width: 900px){
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 300px; 
        grid-template-rows: 20% 15% 60% 10%;
        grid-template-areas: 
        "hd hd hd hd"
        "tt tt tt tt"
        "sb cnt cnt pht"
        "ft ft ft ft";
        background-image: url('../images/bcg.jpeg');
        font-family: 'Fraunces', serif;

    }
}

@media (min-width: 901px){
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 300px; 
        grid-template-rows: 20% 15% 60% 10%;
        grid-template-areas: 
        "hd hd hd hd hd"
        "tt tt tt tt tt"
        "sb cnt cnt pht pht"
        "ft ft ft ft ft";
        background-image: url('/images/bcg.jpeg');
        font-family: 'Fraunces', serif;

    }
}
