@import "../styles/header.css";
@import "../styles/footer.css";
@import "../styles/sidebar.css";
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 320px; 
    grid-template-rows: 100px 100px 1fr 1fr 1fr;
    grid-template-areas: 
    "hd"
    "sb" 
    "cnt"  
    "pht"
    "ft";
    /* border: 2px solid #444; */
    background-image: url('../images/bcg.jpeg');
    font-family: 'Fraunces', serif;
}
.box {
    display: flex;
    /* border: 1px solid rgb(83, 82, 82); */
}

#content {
    grid-area: cnt;
    margin: 20px;
}
#photo {
    grid-area: pht;
}

.icon {
    height: 20px;
    width: 20px;
}

#nestGrid {
    display: grid;
    grid-template-columns: 100%;
    /* border: 2px solid #FFAE0C; */
}
.photobox {
    display: flex;
    height: 150px;
    width: 350px;
}
#one {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/21/14/10/egret-5937499_960_720.jpg');
    background-size: cover;
}
#two {
    background-image: url('https://cdn.pixabay.com/photo/2021/01/14/20/32/fish-5917864_960_720.jpg');
    background-size: cover;
}
#three {
    background-image: url('https://cdn.pixabay.com/photo/2020/05/10/14/25/fresh-pasta-5154229_960_720.jpg');
    background-size: cover;
}


@media (min-width: 600px) and (max-width: 900px){
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 300px 300px; 
        grid-template-rows: 250px 600px 1fr;
        grid-template-areas: 
        "hd hd hd hd hd"
        "sb cnt cnt cnt pht"
        "ft ft ft ft ft";
        /* border: 2px solid #444; */
        background-image: url('../images/bcg.jpeg');
        font-family: 'Fraunces', serif;
    }
    
}

@media (min-width: 901px){
    .container {
        display: grid;
        width: 100%;
        grid-template-columns: 200px 300px 300px; 
        grid-template-rows: 250px 600px 1fr;
        grid-template-areas: 
        "hd hd hd hd hd"
        "sb cnt cnt pht pht"
        "ft ft ft ft ft";
        /* border: 2px solid #444; */
        background-image: url('../images/bcg.jpeg');
        font-family: 'Fraunces', serif;
    }
}