@import "../styles/header.css";
@import "../styles/footer.css";
@import "../styles/sidebar.css";
.container {
    display: grid;
    margin: auto;
    width: 100%;
    height: auto;
    background-image: url('../images/bcg.jpeg');
    background-size: cover;
    grid-template-columns: 320px; 
    grid-template-rows: 100px 100px 100px 1fr 1fr;
    grid-template-areas: 
    "hd"
    "tt"
    "sb" 
    "cnt"
    "ft";
    font-family: 'Fraunces', serif;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    grid-area: tt;
    justify-content: center;
    align-items: center;
}

#content {
    grid-area: cnt;
    margin: 20px;
}

.icon {
    height: 20px;
    width: 20px;
}

article {
    margin: 30px;
}
.pic {
    width: 300px;
    height: 200px;
}
@media (min-width: 600px) and (max-width: 900px){
    .container {
        display: grid;
        width: 100%;
        background-image: url('../images/bcg.jpeg');
        background-size: cover;
        grid-template-columns: 200px 300px; 
        grid-template-rows: 200px 5% 65% 10%;
        grid-template-areas: 
        "hd hd hd"
        "tt tt tt"
        "sb cnt cnt"
        "ft ft ft";
        font-family: 'Fraunces', serif;
    }
    .box {
        display: flex;
    }
}


@media (min-width: 901px){
    .container {
        display: grid;
        width: 100%;
        background-image: url('../images/bcg.jpeg');
        background-size: cover;
        grid-template-columns: 200px 350px; 
        grid-template-rows: 200px 5% 65% 10%;
        grid-template-areas: 
        "hd hd hd hd"
        "tt tt tt tt"
        "sb cnt cnt cnt"
        "ft ft ft ft";
        font-family: 'Fraunces', serif;
    
    }
}